*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: #ddd;
}
#space{
    /* width: 600px;
    height: 600px; */
    border: 1px solid black;
    background-color: #2424cd;
}